.irregular-box {
  position: absolute;
  border: 1px solid #79daf0;
  background-color: #97b7f1;
}

.box1 {
  top: 5%;
  left: 5%;
  width: 50%;
  height: 7.5%;
}
.box2 {
  top: 17.5%;
  left: 5%;
  width: 50%;
  height: 77.5%;
}
.box3 {
  top: 5%;
  left: 60%;
  width: 9.66%;
  height: 7.5%;
}
.box4 {
  top: 5%;
  left: 72.66%;
  width: 9.66%;
  height: 7.5%;
}
.box5 {
  top: 5%;
  left: 85.32%;
  width: 9.66%;
  height: 7.5%;
}
.box6 {
  top: 17.5%;
  left: 60%;
  width: 34.99%;
  height: 77.5%;
}