.u-flex {
  display: flex;
  align-items: center;
}

/*.u-flex img {
  height: 70px;
  width: auto;
  object-fit: contain;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 8.5px;
}*/

.logo {
  height: 55px;
  width: auto;
  object-fit: contain;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  background-color: transparent;
  cursor: pointer;
}

.logo.highlight {
  background-color: white;
}
